<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ static('css/blog.css') }}">
    <meta charset="utf-8">
    <title>{% block title %}AgenciaP{% endblock %}</title>
    <link rel='stylesheet' href="{{ static('css/style.css') }}">
  </head>
 <body background="/static/images/pattern.jpg" >
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url('home') }}" style="margin-top: -10px;height: 40px;"><img src="/static/images/logo1.png" width="40" height="40" align="left"></a>
        </div>
         {% if user.is_authenticated() %}
        <a class="btn-danger btn" href="{{ url('logout') }}">Logout</a>
      {% endif %}
      </div>
    </nav>   

      {% block content %}
      {% endblock %}
  </body>
</html>