{% extends 'base.html' %}

{% block content %}
<body class="pagina-ofertas">

<div align="rigth">
        <h3><b><a class="btn btn-default" href="{{ url('home') }}"><span class="glyphicon glyphicon-home"> HOME</span></a></b></h3>  
</div>
{% if user.is_desocupado() %}
 <div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <div class="hgroup">
        <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
        <h2>Error ! <span>Page Not Found</span></h2>
      </div>
      <p>Usted no esta autorizado a visualizar esta pagina, click en el boton para redireccionar a la pagina principal</p>
      <p><h3><b><a class="btn btn-default" href="{{ url('home') }}"><span class="glyphicon glyphicon-home"> HOME</span></a></b></h3>  </p>
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endif%}


{% if user.is_empresa() %}
<br>
<hr />
	{% for trabajo in object_list %}
      <h2 style="color:white">

      <p>CARGO: {{ trabajo.cargo }}</p><br>
      
      <p>DESCRIPCION: {{ trabajo.descripcion }} </p><br>

      <p>HORARIO: {{ trabajo.horario }} </p><br>

      <p>UBICACION: {{ trabajo.ubicacion }} </p>
    <hr />
    {% endfor %}
{% endif %}
{% endblock %}
